#div1{
    background-color:darkblue;
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: white; 
    border: solid;
   
}

#B1{
      
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    
  }
#B2{
   
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
   margin-top: 4%;
    
}
#div2{
    border: solid;
    size: auto;
    display: inline-block;
    width: 100%;
    height: 60%;
    text-align: center;
    margin-top: 3px;
     

}
